@model EmployeeClient.Models.Cart
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/CustomScripts/ListCheckboxes.js"></script>
    @if (Model.Games != null)
    {
        decimal cost = 0;

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Game Name
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Price
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Games)
                {
                    <tr>
                        <td>
                            @item.m_Item1.GameName
                        </td>
                        <td>
                            @item.m_Item2
                        </td>
                        <td>
                            @item.m_Item1.Price
                        </td>
                    </tr>
                    cost += (@item.m_Item1.Price * @item.m_Item2);
                }

            </tbody>
        </table>
        <h3 class="pull-right" style="padding-right: 15%;">Total for sale : $@cost</h3>
    }
    else
    {
        <h1 class="text-danger">There is no sale for this sale number!</h1>
    }
